Flask==0.12.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
gunicorn==19.7.1
influxdb==5.0.0
python-dateutil==2.6.1
requests==2.18.4
SQLAlchemy==1.2.2
sqlalchemy-migrate==0.11.0
urllib3==1.26.5
WTForms==2.1
gevent>=1.2.2
numpy>=1.14.1
scipy==1.0.0
PeakUtils==1.1.1
