{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
<!DOCTYPE html>
<html>
<head>
  {% block head %}
  {{ super() }}
  <title>Diematic III Controller Overview</title>
  {% endblock %}
</head>
<body>
  {% block content %}
  <h1>Diematic III Heating Overview</h1>
  <form action="/" method="POST">
    {{ form.csrf_token }}
    <table>
	  <tr>
	    <th colspan="3">Controller Status</th>
	  </tr>
  	  <tr>{{ render_field(form.date) }}<td></td></tr>
      <tr>{{ render_field(form.time) }}<td></td></tr>
      <tr>{{ render_field(form.weekday) }}<td></td></tr>
      <tr>{{ render_field(form.temp_ext) }}<td>°C</td></tr>
      <tr>{{ render_field(form.temp_ecs) }}<td>°C</td></tr>
      <tr>{{ render_field(form.temp_boiler) }}<td>°C</td></tr>
      <tr>{{ render_field(form.modes_heat) }}<td></td></tr>
      <tr>{{ render_field(form.anti_ice) }}<td></td></tr>
      <tr>{{ render_field(form.modes_ecs) }}<td></td></tr>

      <tr>
        <td>
          <input type="submit" name="submit" class="button" value="Refresh">
        </td>
        <td>
          <input type="submit" name="submit" class="button" value="Submit Changes">
        </td>
        <td></td>
       </tr>
    </table>
  </form>
  <p><a href="/param">Parameters</a></p>
  {% endblock %}
</body>
</html>
