$def with (regs)
<html>
  <head>
    <title>Diematic III Controller Overview</title>

<!--    <link rel="stylesheet" href="static/styles.css" type="text/css">  -->
  </head>
<body>

<h1>Diematic III Controller</h1>
$code:
  REG_VAL=4
  days=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
  weekday=days[((regs['WEEKDAY'][REG_VAL] - 1) % 7)]
  date = '%d.%d.%d' %  (regs['DAY'][REG_VAL], regs['MONTH'][REG_VAL], regs['YEAR'][REG_VAL])
  time = '%02d:%02d' % (regs['HOUR'][REG_VAL], regs['MINUTE'][REG_VAL])

  mode_a   = mode_ecs = regs['MODE_A'][REG_VAL]
  mode_a   &= 0x2F
  mode_ecs &= 0x50
  
  sel_mode_a = { \
	1:  ('selected' if mode_a == 1 else '', 'ANTIICE'), \
	2:  ('selected' if mode_a == 2 else '', 'PERM NIGHT'), \
	4:  ('selected' if mode_a == 4 else '', 'PERM DAY'), \
	8:  ('selected' if mode_a == 8 else '', 'AUTO'), \
	34: ('selected' if mode_a == 34 else '', 'DEROG NIGHT'), \
	36: ('selected' if mode_a == 36 else '', 'DEROG DAY') }
  
  sel_mode_ecs = { \
	0:  ('selected' if mode_ecs == 0 else '', 'AUTO'), \
	16: ('selected' if mode_ecs == 16 else '', 'PERM'), \
	80: ('selected' if mode_ecs == 80 else '', 'TEMP') }

<form action="/controller" method="POST">
<table>
    <tr><td>Diematic-Date</td><td>$weekday $date</td></tr>
    <tr><td>Diematic-Time</td><td>$time</td></tr>
    <tr><td>Temp Outside</td><td>$regs['TEMP_EXT'][REG_VAL]°C</td></tr>
    <tr><td><b>Pump</b>
   
    <tr><td>Temp Water measured</td><td>$regs['TEMP_ECS'][REG_VAL] °C</td></tr>
   
    <tr><td>Burner</td><td><value=1234></td></tr>
    <tr><td>Temp Boiler measured/target</td><td>$regs['TEMP_BOILER'][REG_VAL] °C / $regs['CONS_BOILER'][REG_VAL] °C</td></tr>

    <tr><td>Alarm</td><td>None</td></tr>

    <tr><td>Mode Heating</td>
		<td><select name="mode_heating">
          $for i in (1, 2, 4, 8, 34, 36):
            <option value="$i" $sel_mode_a[i][0]>$sel_mode_a[i][1]</option>
         
        </select></td>
    </tr>
    <tr><td>Duration Anti-ice</td><td>$regs['NB_DAY_ANTIICE'][REG_VAL]</td></tr>

    <tr><td>Mode ECS</td>
        <td><select name="mode_ecs">
          $for i in (0, 16, 80):
            <option value="$i" $sel_mode_ecs[i][0]>$sel_mode_ecs[i][1]</option>          
		
        </select></td>
     </tr>
     <tr><td>
       <div style="text-align:left"><input type="submit" name="submit" class="btn btn-primary" value="Refresh"></div>
     </td>
     <td>
       <div style="text-align:right" ><input type="submit" name="submit" class="btn btn-info" value="OK"></div>
     </td></tr>
  </table>
</form>
<p><a href="/param">Parameters</a></p>

</body>
</html>
