{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
{{util.flashed_messages(dismissible=True)}}

<div class="container">
  <h1>Registration</h1>
  <form action="/register" method="post">
    <p>{{ form.username.label }}</p>
      {{ form.username }}
    <p>{{ form.password.label }}</p>
    {{ form.password }}
    <p>{{ form.confirm.label }}</p>
    {{ form.confirm }}
    <p>{{ form.email.label }}</p>
    {{ form.email }}
    {{ form.hidden_tag() }}
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
<div>
{% endblock %}
