{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
<html>
<head>
  {% block head %}
  {{ super() }}
  <title>Diematic III Parameters Overview</title>
  {% endblock %}
</head>
<body>
  {% block content %}
  <h1>Diematic III Parameters Overview</h1>
  <form action="/ctrl_confirm">
    <table>
	    <tr>
	      <th colspan="4">Parameters Overview</th>
	    </tr>
      <tr>{{ render_field(form.date) }}<td></td><td></td></tr>
  	  <tr>
	      <td>Diematic Time</td><td>{{ data['HOUR'][4] }}:{{ data['MINUTE'][4] }}</td><td></td><td></td>
	    </tr>
	    <tr>
	      <td colspan="4"><div style="text-align:left"><input type="submit" name="submit" class="button" value="Set Time"></div></td>
	    </tr>
      <th colspan="2">Heating Circuit A</th>
      <th colspan="2">Heating Circuit B</th>
      <tr>{{ render_field(form.cons_day_a) }}{{ render_field(form.cons_day_b)}}</tr>
      <tr>{{ render_field(form.cons_night_a) }}{{ render_field(form.cons_night_b)}}</tr>
      <tr>{{ render_field(form.cons_antiice_a) }}{{ render_field(form.cons_antiice_b)}}</tr>
      <tr>
        <td colspan="4">
		      <input type="submit" name="submit" class="button" value="Confirm Temp">
	      </td>
      </tr>
      <th colspan="2">Steepness Circuit A</th>
      <th colspan="2">Steepness Circuit B</th>
      <tr>
        <td colspan="2"><img src="../static/Heizungskurve1.jpg"></img></td>
        <td colspan="2"><img src="../static/Heizungskurve2.jpg"></img></td>
      </tr>
      <tr>{{ render_field(form.steepness_a) }}{{ render_field(form.steepness_b)}}</tr>
	    <tr>
        <td colspan="4">
		      <input type="submit" name="submit" class="button" value="Confirm Steepness">
		    </td>
      </tr>
      <th colspan="4">Summer/Winter Auto Temp</th>
      <tr>{{ render_field(form.cons_sumwin) }}<td></td><td></td></tr>

      <tr>
        <td colspan="2">
		      <input type="submit" name="submit" class="button" value="Confirm Sum/Win Temp">
		    </td>
      </tr>
      <th colspan="4"><b>Warmwater</b></th>
      <tr>{{ render_field(form.cons_ecs) }}<td></td><td></td></tr>
      <tr>{{ render_field(form.cons_ecs_night) }}<td></td><td></td></tr>
      <tr>
        <td>
		      <input type="submit" name="submit" class="button" value="Refresh">
		    </td>
        <td>
		      <input type="submit" name="submit" class="button" value="Confirm WW Temp">
		    </td>
      </tr>
    </table>
  </form>
  <p><a href="/">Controller Page</a></p>
  {% endblock %}
</body>
</html>
