{% extends "base.html" %}
{% block head %}
{{ super() }}
<script>
	function loading() {
		$('#loading').removeClass('hidden');
		$('#content').addClass('hidden');
	}
</script>
<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
{% block content %}
<div class="container" id="content">
  {{util.flashed_messages(dismissible=True)}}
  <h2>Diematic III Parameters</h1>
  <form action="{{ url_for('parameters') }}" method=post>
	{{ form.csrf_token }}
	<table class="table table-hover table-bordered">
	  <tbody>
  		<tr class="active">
  		  <th colspan="2">Diematic Date/Time/Weekday</th>
  		</tr>
  		<tr> {{ render_field(form.ctrl_date) }} </tr>
  		<tr> {{ render_field(form.ctrl_time) }} </tr>
  		<tr> {{ render_field(form.ctrl_weekday) }} </tr>
  		<tr>
  		  <td>{{ form.set_time(class="btn btn-primary", onclick="loading();") }}</td>
  		  <td>{{ form.sync_time(class="btn btn-primary", onclick="loading();") }}</td>
  		</tr>
  		<tr class="active">
  		  <th colspan="2">Circuit A (Radiators)</th>
  		  <th colspan="2">Circuit B (Floors)</th>
  		</tr>
  		<tr>
  		  {{ render_field(form.temp_a_day) }}
  		  {{ render_field(form.temp_b_day) }}
  		</tr>
  		<tr>
  		  {{ render_field(form.temp_a_night) }}
  		  {{ render_field(form.temp_b_night) }}
  		</tr>
  		<tr>
  		  {{ render_field(form.temp_a_antiice) }}
  		  {{ render_field(form.temp_b_antiice) }}
  		</tr>
  		<tr>
  		  <td colspan="4"> {{ form.set_temp(class="btn btn-primary", onclick="loading();") }} </td>
  		</tr>
  		<tr class="active">
  		  <th colspan="4">Heating Curve Steepness</th>
  		</tr>
  		<tr>
  		  <td colspan="2"><img src="../static/steepness_a.jpg"></td>
  		  <td colspan="2"><img src="../static/steepness_b.jpg"></td>
  		</tr>
  		<tr>
  		  {{ render_field(form.steepness_a) }}
  		  {{ render_field(form.steepness_b) }}
  		</tr>
  		<tr>
  		  <td colspan="4">{{ form.set_steepness(class="btn btn-primary", onclick="loading();") }} </td>
  		</tr>
  		<tr class="active">
  		  <th colspan="2">Summer / Winter Auto Temp</th>
  		</tr>
  		<tr> {{ render_field(form.temp_sum_win) }} </tr>
  		<tr>
  		  <td colspan="2">{{ form.set_sumwin(class="btn btn-primary", onclick="loading();") }}</td>
  		</tr>
  		<tr class="active">
  		  <th colspan="2">Warmwater Settings</th>
  		</tr>
  		<tr> {{ render_field(form.temp_ecs_day) }} </tr>
  		<tr> {{ render_field(form.temp_ecs_night) }} </tr>
  		<tr>
  		  <td colspan="2">{{ form.set_ecs(class="btn btn-primary", onclick="loading();") }}</td>
  		</tr>
  		<tr class="active">
  		  <th colspan="2">Boiler Settings</th>
  		</tr>
  		<tr> {{ render_field(form.temp_boiler_min) }} </tr>
  		<tr> {{ render_field(form.temp_boiler_max) }} </tr>
  		<tr>
  		  <td colspan="2">{{ form.set_boiler(class="btn btn-primary", onclick="loading();") }}</td>
  		</tr>
  		<tr class="success">
  		  <td colspan="2">{{ form.refresh_button(class='btn btn-success', onclick="loading();") }}</td>
  		</tr>
	  </tbody>
	</table>
  </form>
</div>
<div class="hidden text-center" id="loading">
  <img id="loading-image" src="/static/loading1.gif" alt="Loading..." width="100" height="100" />
</div>
{% endblock %}
