{% extends "base.html" %}

{% block head %}
{{ super() }}
<script>
  function loading() {
  	$('#loading').removeClass('hidden');
  	$('#content').addClass('hidden');
  }
</script>
<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
  	<div class="navbar-header">
  	  <a class="navbar-brand" href="#">
  		  <img src={{ url_for('static', filename='diematic-logo-big.png')}} style="height:32px;margin-top:-4px;">
  	  </a>
  	</div>
  	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  	  <ul class="nav navbar-nav">
    		<li>
    		  <a href="{{ url_for('parameters')}}" data-toggle="modal">Parameters</a>
    		</li>
    		<li>
    		  <a href="{{ url_for('controller')}}" data-toggle="modal">Controller</a>
    		</li><li>
    		  <a href="{{ url_for('charts')}}" data-toggle="modal">Charts</a>
    		</li>
  	  </ul>
  	  <span class="navbar-text navbar-right">
        <font color="white">user: {{ user.login }}</font>
    	<a href="{{ url_for('logout')}}" data-toggle="modal"> (logout)</a>
		<a href="{{ url_for('settings')}}>
		  <img id="settings" src={{ url_for('static', filename='settings.png')}} alt="Loading..." width="24" height="24" />
		</a>
  	  </span>
  	</div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container" id="content">
  {{util.flashed_messages(dismissible=True)}}
  <h2>Diematic III Settings</h1>
  <form action="{{ url_for('settings') }}" method=post>
  	{{ form.csrf_token }}
  	<table class="table table-hover table-bordered">
	  <col width="30%">
	  <col width="70%">
  	  <tbody>
	    <tr class="active">
          <th colspan="2">Diematic GUI Settings</th>
        </tr>
	  	<tr> {{ render_field(form.influxdb_host) }} </tr>
    	<tr> {{ render_field(form.influxdb_port) }} </tr>
    	<tr> {{ render_field(form.influxdb_db) }} </tr>
    	<tr> {{ render_field(form.influxdb_table) }} </tr>
    	<tr> {{ render_field(form.influxdb_user) }} </tr>
    	<tr> {{ render_field(form.influxdb_pw) }} </tr>
    	<tr> {{ render_field(form.diematicd_host) }} </tr>
    	<tr> {{ render_field(form.diematicd_port) }} </tr>
    	<tr class="success">
    	  <td colspan="2"> {{ form.submit_button(class='btn btn-primary', onclick='loading();') }} </td>
    	</tr>
  	  </tbody>
  	</table>
  </form>
</div>
<!-- class container -->
<div class="hidden text-center" id="loading">
  <img id="loading-image" src="/static/loading1.gif" alt="Loading..." width="100" height="100" />
</div>
{% endblock %}
