$def with (regs)

<html>
  <head>
    <title>Diematic III Parameters Web Form</title>
<!--	<link rel="stylesheet" href="static/styles.css" type="text/css"> -->
  </head>
<body>

<h1>Diematic III Parameters</h1>
$code:
  days=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
  weekday=days[((regs['WEEKDAY'][3] - 1) % 7)]
  date = '%d.%d.%d' %  (regs['DAY'][3], regs['MONTH'][3], regs['YEAR'][3])
  time = '%02d:%02d' % (regs['HOUR'][3], regs['MINUTE'][3])
<form action="/param" method="POST">
<table>
  <tr><td>Diematic-Date</td><td>$weekday $date</td></tr>
  <tr><td>Diematic-Time</td><td>$time</td></tr>
  <tr><td colspan="4"><div style="text-align:left"><input type="submit" name="submit" class="btn btn-info" value="Set Time"></div></td></tr>
  <tr><td colspan="2"><b>Circuit A (Radiator)</b></td><td colspan="2"><b>Circuit B (Floor Heating)</b></td></tr>
  <tr>
    <td>Temp Day</td><td><input type="text" name="cons_day_a" maxlength="4" size="4" value=$regs['CONS_DAY_A'][3]> °C</td>
    <td>Temp Day</td><td><input type="text" name="cons_day_b" maxlength="4" size="4" value=$regs['CONS_DAY_B'][3]> °C</td>
  </tr>
  <tr>
    <td>Temp Night</td><td><input type="text" name="cons_night_a" maxlength="4" size="4" value=$regs['CONS_NIGHT_A'][3]> °C</td>
    <td>Temp Night</td><td><input type="text" name="cons_night_b" maxlength="4" size="4" value=$regs['CONS_NIGHT_B'][3]> °C</td>
  </tr>
  <tr>
    <td>Temp Anti-Ice</td><td><input type="text" name="cons_antiice_a" maxlength="4" size="4" value=$regs['CONS_ANTIICE_A'][3]> °C</td>
    <td>Temp Anti-Ice</td><td><input type="text" name="cons_antiice_b" maxlength="4" size="4" value=$regs['CONS_ANTIICE_B'][3]> °C</td>
  </tr>
  <tr>
       <td colspan="4"><div style="text-align:left"><input type="submit" name="submit" class="btn btn-info" value="Confirm Temp"></div></td>
  </tr>
  <tr><td colspan="4"><b>Heating Curve Steepness</b></td></tr>
  <tr>
     <td colspan="4"><img src="../static/Heizungskurve2.jpg"></img></td>
  </tr>
  <tr>
     <td>Steepness Factor A</td><td><input type="text" name="steepness_a" maxlength="4" size="4" value=$regs['STEEPNESS_A'][3]></td>
     <td>Steepness Factor B</td><td><input type="text" name="steepness_b" maxlength="4" size="4" value=$regs['STEEPNESS_B'][3]></td>
  </tr>
  <tr>
      <td colspan="4"><div style="text-align:left"><input type="submit" name="submit" class="btn btn-info" value="Confirm Steepness"></div></td>
  </tr>
  <tr><td colspan="2"><b>Summer/Winter Auto Temp</b></td></tr>
  <tr>
      <td>Temp Sum/Win</td><td><input type="text" name="cons_sumwin" maxlength="4" size="4" value=$regs['CONS_SUMWIN'][3]> °C</td>
  </tr>
  <tr>
      <td colspan="2"><div style="text-align:left"><input type="submit" name="submit" class="btn btn-info" value="Confirm Sum/Win Temp"></div></td>
  </tr>
  <tr><td colspan="2"><b>Warmwater</b></td></tr>
  <tr><td>Temp Day</td><td><input type="text" name="cons_ecs" maxlength="4" size="4" value=$regs['CONS_ECS'][3]> °C</td></tr>
  <tr><td>Temp Night</td><td><input type="text" name="cons_ecs_night" maxlength="4" size="4" value=$regs['CONS_ECS_NIGHT'][3]> °C</td></tr>
  <tr><td>CTRL (Version Soft)</td><td>$regs['CTRL'][3]</td></tr>
  <tr>
     <td><div style="text-align:left"><input type="submit" name="submit" class="btn btn-primary" value="Refresh"></div></td>
     <td><div style="text-align:left"><input type="submit" name="submit" class="btn btn-info" value="Confirm WW Temp"></div></td>
  </tr>
</table> 

</form>
<p><a href="/controller">Controller</a></p>
</body>
</html>
