[Unit]
Description=Diematic Daemon
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python -u /root/src/python/diematic/diematicd/diematicd.py
SyslogIdentifier=diematicd
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
