[Unit]
Description=Record Homematic measures and store in InfluxDB
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python -u /home/gerald/Source/python/homematic/misc/homematic-record.py
SyslogIdentifier=homematic-record
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
