/*********************************************************************************/
/*                                                                               */
/*                 Style for website                                             */
/*                                                                               */
/*   Date     | Version |    Author     | Nature of modification                 */
/* 28/05/2017 |  1.0.0  | Gerry         | Creation                               */
/*                                                                               */
/*                                                                               */
/*********************************************************************************/
body { background-image: url('fond.jpg')}


img  {border-width: 0px}

/* table with border (internal and external)*/
table {border: 1px solid black;border-collapse: collapse; }

/*
table.tableau tr th {border: 1px solid blue;padding :5px;text-align: center;font-weight: bold}
*/
table tr td {border: 1px solid black;padding :5px;text-align: left;}



 
